/*EduPath Premium Dashboard Version 2 */
:root{
    --primary:#7C3AED;
    --primary-light:#A78BFA;
    --pink:#EC4899;
    --blue:#38BDF8;
    --background:#F8FAFC;
    --card:rgba(255,255,255,.72);
    --dark:#0F172A;
    --text:#64748B;
    --border:rgba(255,255,255,.5);
    --glass:blur(20px);
    --shadow-premium:0 25px 60px rgba(15,23,42,.12);
    --gradient:linear-gradient(135deg,
    #7C3AED,
    #EC4899
    );
}
/* BODY PREMIUM*/
body{
background:radial-gradient(
circle at top right,
rgba(124,58,237,.15),
transparent 30%
),
radial-gradient(
circle at bottom left,
rgba(56,189,248,.15),
transparent 35%
),
#F8FAFC;
}
/* SIDEBAR */
.sidebar{
background:linear-gradient(180deg,
rgba(124,58,237,.95),
rgba(91,33,182,.95)
);
backdrop-filter:blur(20px);
border-left:1px solid rgba(255,255,255,.2);
}
.sidebar::after{
content:"";
position:absolute;
width:220px;
height:220px;
background:rgba(255,255,255,.12);
border-radius:50%;
bottom:-80px;
right:-80px;
filter:blur(30px);
}
/* MENU */
.menu li a{
position:relative;
overflow:hidden;
}
.menu li a::before{
content:"";
position:absolute;
right:0;
top:0;
width:0;
height:100%;
background:rgba(255,255,255,.15);
transition:.4s;
}
.menu li a:hover::before{
width:100%;
}
.menu li a:hover{
transform:translateX(-8px);
}
.menu .active a{
box-shadow:0 10px 30px rgba(255,255,255,.25);
}
